<div class="container">
 <p> <b> Du bist aktuell noch nicht eingeloggt! </b> </p>
 
<p> SpengDash ist eine von Schülern umgesetzte Seite, die alle wesentlichen Informationen auf einer Website vereint. 
Auf der SpengDash-Seite können sowohl Schüler als auch Lehrer der HTL-Spengergasse die 
für den Alltag relevanten Informationen einsehen. <br> 
Dies beinhaltet folgende Daten:  </p>
 <ul> 
 <li> Schularbeits / Test Termine </li>
 <li> Aufgaben </li>
 <li> Stundenplan </li>
 <li> Freie Räume </li>
 <li> Freie Tage </li>
 </ul>
 
</div>


