<div id="formWrapper">
  <form class="form-signup" id="signupForm">
    <h1 class="h3 mb-3 font-weight-normal" i18n="Signup Header@@Signup-Header">SpengDash Signup</h1>

    <div class="alert alert-danger" role="alert" id="errMsg" hidden>
      <h4 class="alert-heading" i18n="Signup Error@@errorSigningUp">Fehler bei der Anmeldung</h4>
      <p id="errOut"></p>
    </div>

    <label for="username" class="sr-only" i18n="Username Label@@username">Username</label>
    <input type="text" id="username" class="form-control" i18n-placeholder="Username Placeholder@@username" placeholder="Username" required="" autofocus="">
    <label for="password" class="sr-only" i18n="Password Label@@password">Passwort</label>
    <input type="password" id="password" class="form-control" i18n-placeholder="Password Placeholder@@password" placeholder="Passwort" required="">
    <div class="checkbox mb-3">
      <label i18n="Save Password Checkbox@@rememberPass">
        <input type="checkbox" value="remember-me"> Speichern
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" i18n="Signup Button@@signup">Anmelden</button>

    <div class="alert alert-light" role="alert" i18n="Helptext Signup Page@@Signup-Help">
      Probleme bei der Anmeldung? Klicke <a class="alert-link" routerLink="/faq" fragment="signup">hier</a>
    </div>
  </form>
</div>