<div id="formWrapper">
  <form class="form-signin" id="loginForm" (submit)="loginUser($event)">
    <h1 class="h3 mb-3 font-weight-normal">SpengDash Login</h1>
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" class="form-control" placeholder="Username" required="" autofocus="">
    <label for="password" class="sr-only">Passwort</label>
    <input type="password" id="password" class="form-control" placeholder="Passwort" required="">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Speichern
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Anmelden</button>

    <div class="alert alert-light" role="alert">
      Probleme bei der Anmeldung? Klicke <a class="alert-link" routerLink="/faq" fragment="anmeldung">hier</a>
    </div>
  </form>
</div>