<h1>FAQ</h1>
<a class="text-muted">Eine Liste von Hilfeartikeln über SpengDash</a>

<h2 id="anmeldung">Anmeldung</h2>
<p>Du kannst dich auf <a routerLink="../login">der Anmeldeseite</a> mit deinem SpengDash-Account anmelden.
(Dieser ist <b>nicht</b> dein Spengergasse-Account).<br>
Wenn du dein Passwort vergessen hast, kontaktiere einen Administrator.
</p>

<h2 id="ldap">Anmeldung mittels LDAP</h2>
<p>Im Rahmen einer neuen BETA-Funktion kannst du dich nun auf SpengDash mit deinem Spengergasse-Account anmelden. Gib dafür deine Spengergasse-Zugangsdaten ein und klicke auf den Knopf "Anmeldung mit AD" auf <a routerLink="../login">der Anmeldeseite</a>:<br>
  <img class="img-fluid" src="../../assets/img/loginWithAD.png">

</p>