<div id="rppc">
  <p id="headline">Raumplaner. Alle freien Räume auf einen Blick.</p>


  <div class="row">
    <div class="col-md-3">
      <form class="top">
          <label for="day">Tag:</label>
        <input type="text" id="day" name="day" value="" class="form-control">
      </form>
    </div>
    <div class="col-md-3">
      <form class="top">
        <label for="month">Monat:</label>
        <input type="text" id="month" name="month" value="" class="form-control">
      </form>
    </div>
    <div class="col-md-3">
      <form class="top">
        <label for="beginhour">Stunde von</label>
        <input type="text" id="beginhour" name="beginhour" value="" class="form-control">
      </form>
    </div>
    <div class="col-md-3">
      <form class="top">
          <label for="endhour">Bis</label>
        <input type="text" id="endhour" name="endhour" value="" class="form-control">
      </form>
    </div>
  </div>
  <div class="row" id="datumRow">
    <div class="col-sm-12 text-center">
      <button id="heute" class="btn">Heutiges Datum</button>
    </div>
  </div>

  <div class="row" id="down">
    <div class="col-md-6 part">
      <p class="headerstd">1. Stunde 29.04.2019</p>
      <br>
      <p class="trakt">A-Gebäude</p>
      <ul id="l1-a">
        <li>A1.14</li>
        <li>A2.04</li>
        <li>A2.14</li>
        <li>A2.20</li>
        <li>A3.04</li>
        <li>A3.05</li>
        <li>A3.19</li>
        <li>AH.32</li>
      </ul>
      <br>
      <p class="trakt">B-Gebäude</p>
      <ul id="l1-b">
        <li>C1.14</li>
        <li>C2.04</li>
        <li>C2.14</li>
        <li>C2.20</li>
        <li>C3.04</li>
        <li>C3.05</li>
        <li>C3.19</li>
        <li>CH.32</li>
      </ul>
      <br>
      <p class="trakt">C-Gebäude</p>
      <ul id="l1-c">
        <li>C1.14</li>
        <li>C2.04</li>
        <li>C2.14</li>
        <li>C2.20</li>
        <li>C3.04</li>
        <li>C3.05</li>
        <li>C3.19</li>
        <li>CH.32</li>
      </ul>
      <br>
    </div>
    <div class="col-md-6 part">
      <p class="headerstd">2. Stunde 29.04.2019</p>
      <br>
      <p class="trakt">A-Gebäude</p>
      <ul id="l2-a">
        <li>A1.14</li>
        <li>A2.04</li>
        <li>A2.14</li>
        <li>A2.20</li>
        <li>A3.04</li>
        <li>A3.05</li>
        <li>A3.19</li>
        <li>AH.32</li>
      </ul>
      <br>
      <p class="trakt">B-Gebäude</p>
      <ul id="l2-b">
        <li>C1.14</li>
        <li>C2.04</li>
        <li>C2.14</li>
        <li>C2.20</li>
        <li>C3.04</li>
        <li>C3.05</li>
        <li>C3.19</li>
        <li>CH.32</li>
      </ul>
      <br>
      <p class="trakt">C-Gebäude</p>
      <ul id="l2-c">
        <li>C1.14</li>
        <li>C2.04</li>
        <li>C2.14</li>
        <li>C2.20</li>
        <li>C3.04</li>
        <li>C3.05</li>
        <li>C3.19</li>
        <li>CH.32</li>
      </ul>
      <br>
    </div>
  </div>
</div>