<div class="container">
  <div class="row">
    <div class="col-sm">
     <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Termine</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
    <div class="col-sm">
     <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Aufgaben</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Stundenplan</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
  </div>
  <br>
  <div class ="row">
  <div class ="col-12">
  
   <div class="card">
  <div class="card-body">
    <h5 class="card-title">Freie Räume</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>
</div>
  </div>
  <br>
   <div class ="row">
   <div class ="col-12">
   <div class="card" >
  <div class="card-body">
    <h5 class="card-title">Freie Tage</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> 
</div> 
  </div>
</div>


