<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img [src]="'/assets/img/spengDashLogo.png'" height=40p>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/termine">Termine</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/raumplaner">Raumplaner</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/stundenplan">Stundenplan</a>
      </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <button type='button' class="btn btn-outline-success my-2 my-sm-0" routerLink="/login">Anmelden</button>
  </form>
  </div>
</nav>
<div id="main">
  <router-outlet></router-outlet>  
</div>